<div class="ui-g">
	<div class="ui-g-10">

		<p-table [value]="data" dataKey="FundAccountName" [resizableColumns]="false" [rowHover]="true"> 
			<ng-template pTemplate="header">
				<tr class='row-header'>
					<th></th>
					<th style='width: 45px;' *ngFor='let col of cols' >
						<div class="outerDiv" [style.background-color]="col.mouseover ? 'yellow': 'transparent'">
							<div class="innerDiv">{{col.ReportName}}</div>
						</div>
					</th>
				</tr>

			</ng-template>
			<ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
				<tr (mouseover)='rowData.mouseover = true' (mouseout)='rowData.mouseover = false' >
           <td [style.background-color]="rowData.mouseover ? 'yellow': 'transparent'">
              <a href="#" [pRowToggler]="rowData" >
                  <i [ngClass]="expanded ? 'pi pi-chevron-circle-down' : 'pi pi-chevron-circle-right'" style="vertical-align: sub;"></i>
                    <span>{{rowData.FundAccountName}}</span>
                    
                </a>
             <!-- <span style="font-weight:bold">{{rowData.FundAccountName}}</span> -->
            </td>
            <td *ngFor="let col of cols" (mouseover)='col.mouseover = true' (mouseout)='col.mouseover = false'>
                   <p-checkbox binary="true" [checkboxIcon]="'pi pi-minus-circle'" [(ngModel)]='rowData.allChecked'></p-checkbox>
            </td>  
        </tr>
        
			
			</ng-template>
      <ng-template pTemplate="rowexpansion" let-rowData let-rowIndex="rowIndex" let-columns="columns">
          <tr *ngFor='let user of rowData.users'>
              <td>
                {{user.UserFullName}}
              </td>
              <td *ngFor="let report of user.reports">
                <p-checkbox binary="true" [(ngModel)]="report['isDeliveredToUser']"></p-checkbox>
              </td>
				  </tr>
      </ng-template>
		</p-table>
	</div>
</div>