<p-card class="ui-g">
	<div class="ui-g-10">
		<p-table [value]="data" dataKey="FundAccountName" [resizableColumns]="false" [scrollable]="true" scrollHeight="400px" [style]="{'min-width': '1000px'}" > 
			<ng-template pTemplate="header">
				<tr class='row-header'>
					<th style='width: 100%;'>
          </th>
					<th style='width: 45px;' *ngFor='let col of cols' >
						<div class="outerDiv" [style.background-color]="col.mouseover ? 'yellow': '#f4f4f4'">
							<div class="innerDiv">
                <button pButton icon='pi pi-pencil' class='ui-button-info' (click)='editReportName(col)'></button>
                {{col.ReportName}}
              </div>
						</div>
					</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-rowData let-expanded="expanded">
				<tr (mouseover)='rowData.mouseover = true' (mouseout)='rowData.mouseover = false' style='background-color: lightgray' >
           <td [style.background-color]="rowData.mouseover ? 'yellow': 'inherit'" >
              <a href="#" [pRowToggler]="rowData" >
                  <i [ngClass]="expanded ? 'pi pi-chevron-circle-down' : 'pi pi-chevron-circle-right'" style="vertical-align: sub;"></i>
                    <span>{{rowData.FundAccountName}}</span>
              </a>
             <!-- <span style="font-weight:bold">{{rowData.FundAccountName}}</span> -->
            </td>
            <td *ngFor="let report of rowData.reports; let i = index" (mouseover)='cols[i].mouseover = true' (mouseout)='cols[i].mouseover = false' style='width: 45px;'>
              <p-checkbox 
                binary="true" 
                [checkboxIcon]="report.deliveredToUsers == 'partial' ? 'pi pi-minus-circle' : 'pi pi-check'" 
                [ngModel] = 'report.deliveredToUsers != "none"'
                (ngModelChange)='fundGroupSelectionChange($event, rowData, report.ReportID)'></p-checkbox>
            </td>  
        </tr>
			</ng-template>
      <ng-template pTemplate="rowexpansion" let-rowData let-rowIndex="rowIndex">
          <tr *ngFor='let user of rowData.users' (mouseover)='user.mouseover = true' (mouseout)='user.mouseover = false'>
              <td [style.background-color]="user.mouseover ? 'yellow': 'inherit'">
                {{user.UserFullName}}
              </td>
              <td *ngFor="let report of user.reports; let i = index" (mouseover)='cols[i].mouseover = true' (mouseout)='cols[i].mouseover = false'>
                <p-checkbox binary="true" [(ngModel)]="report['isDeliveredToUser']" (ngModelChange)='dataChanged($event)'></p-checkbox>
              </td>
				  </tr>
      </ng-template>
		</p-table>
	</div>
</p-card>
<p-dialog header="Edit Report Name" [(visible)]="showEditReportNameDialog" [modal]="true" [responsive]="true" [style]="{width: '450px', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000">
        <input id="input" type="text" pInputText [(ngModel)]="(selectedReport || {}).ReportName" size='50'> 
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="display=false" label="SAVE"></button>
            <button type="button" pButton icon="pi pi-close" (click)="showEditReportNameDialog=false" label="CANCEL" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog>
