.row-header > th{
  border: 0px;
  background-color: transparent;
}



   .outerDiv {
      
      height: 300px;
      width: 45px;
      border: 1px solid #D5D5D5;
      border-bottom: 0;
      border-left: 0;
      transform: skew(-30deg) translateX(76px) translateY(7px);
      
    }

   th:nth-child(2) .outerDiv {
      border-left: 1px solid #D5D5D5;
      position: relative;
    }

    .innerDiv {
      position: absolute;
      width: 300px;
      height: 25px;
      bottom: -35%;
      left: 5px;
      transform: skew(30deg) rotate(-60deg) translateX(110px);
      transform-origin: 0 0;
      text-align: left;
      color: #212121;
      font-weight: normal;
    }

  ::ng-deep div.ui-table-scrollable-header.ui-widget-header{
    overflow: visible;
  }
  ::ng-deep div.ui-table-scrollable-body{
    overflow-y: scroll;
    margin-right: -15px;
  }
